#display-none {
  width: 300px;
  height: 100px;
  background: green;
}
#btn {
  width: 50px;
  height: 50px;
  background: #ff253a;
}
.display-none {
  display: none;
}
.paginator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
.paginator__link,
.paginator__dots,
.paginator__arrow {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}
.paginator__dots {
  width: 45px;
  text-align: center;
}
.paginator__link,
.paginator__arrow {
  transition: 0.2s;
}
.paginator__link:hover,
.paginator__arrow:hover,
.paginator__link:active,
.paginator__arrow:active {
  color: red;
}
.paginator__link {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}
.paginator__link--active {
  color: green;
  background: red;
  pointer-events: none;
  border-radius: 3px;
}
.paginator__arrow {
  padding: 2px 0;
  width: 120px;
  height: 45px;
  color: transparent;
  background: blue;
  border: 1px solid red;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginator__arrow:hover::after,
.paginator__arrow:active::after {
  border-color: red;
}
.paginator__arrow::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  transition: 0.2s;
}
.paginator__arrow--prev {
  position: absolute;
  left: 0;
  top: 0;
}
.paginator__arrow--prev::after {
  transform: rotate(225deg);
}
.paginator__arrow--next {
  position: absolute;
  right: 0;
  top: 0;
}
.paginator__arrow--next::after {
  transform: rotate(45deg);
}
.paginator__arrow--disabled {
  pointer-events: none;
  opacity: 0.5;
  border-color: #dedede;
}
.paginator__arrow--disabled::after {
  border-color: #dedede;
}
.paginator__dots {
  pointer-events: none;
}
.paginator__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
/*# sourceMappingURL=styles.css.map */