
#display-none {
  width: 300px;
  height: 100px;
  background: green;
}
#btn {
  width: 50px;
  height: 50px;
  background: #ff253a;
}
.display-none {
  display: none;
}


.paginator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  position: relative;

  &__link,
  &__dots,
  &__arrow {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
  }

  &__dots {
    width: 45px;
    text-align: center;
  }
  &__link,
  &__arrow {
    transition: 0.2s;
    &:hover,
    &:active {
      color: red;
    }
  }
  &__link {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    &--active {
      color: green;
      background: red;
      pointer-events: none;
      border-radius: 3px;
    }
  }
  &__arrow {
    padding: 2px 0;
    width: 120px;
    height: 45px;
    color: transparent;
    background: blue;
    border: 1px solid red;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:active{
      &::after{
        border-color: red;
      }
    }
    &::after{
      content: "";
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 15px;
      height: 15px;
      border-top: 2px solid blue;
      border-right: 2px solid blue;
      transition: 0.2s;
    }
    &--prev {
      position: absolute;
      left: 0;
      top: 0;

      &::after{
        transform: rotate(225deg);
      }
    }
    &--next {
      position: absolute;
      right: 0;
      top: 0;

      &::after{
        transform: rotate(45deg);
      }
    }
    &--disabled {
      pointer-events: none;
      opacity: 0.5;
      border-color: #dedede;
      &::after{
        border-color: #dedede;
      }
    }
  }
  &__dots {
    pointer-events: none;
  }
  &__links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

  }
}